* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: monospace;
  background-color: #eeebf0;
  position: relative;
}
div{
	display: block;
	width: calc(100% - 20%);
	padding: 10%;
	margin: 10px auto;
	text-align: center;
	background: #95ECF3;
}
svg{
	width: 100%;
	max-width: 150px;
	transition: all 0.2s;
}
.menu {
	position: absolute;
	top: 0;
	left: 0;
}