* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: monospace;
  background-color: #eeebf0;
  position: relative;
}

.touch {
  overflow: hidden !important;
  border: 10px solid #f00;
}
#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
#wrapper.is-with-scroll {
  width: 432px;
}
#wrapper .menu-l {
  position: relative;
}

#wrapper .menu-l.is-loaded{
   background: #69D2E7;
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #69D2E7 0%, #69D2E7 50%, #F38630 51%, #F38630 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69D2E7), color-stop(50%, #69D2E7), color-stop(51%, #F38630), color-stop(100%, #F38630));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #69D2E7 0%, #69D2E7 50%, #F38630 51%, #F38630 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #69D2E7 0%, #69D2E7 50%, #F38630 51%, #F38630 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #69D2E7 0%, #69D2E7 50%, #F38630 51%, #F38630 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #69D2E7 0%, #69D2E7 50%, #F38630 51%, #F38630 100%);
/* W3C */
}

#wrapper .content-ll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 25px;
  line-height: 30px;
  -webkit-transform: rotate3d(0, 0, 0);
  -moz-transform: rotate3d(0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0);
  -o-transform: rotate3d(0, 0, 0);
  transform: rotate3d(0, 0, 0);
}
.section-b {
  height: 400px;
  position: relative;
  cursor: pointer;
}

.section-b svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 200px;
}
